/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Tomorrow", sans-serif;
  transition: 1s all ease-in;
  background: white;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.2rem;
}

/* MIXINS */
/* MAIN STYLES */
main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  height: 50%;
  color: white;
}
main #start-btn {
  color: rgba(0, 0, 0, 0.8);
  background: lightgray;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 20px 0;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  transition: 0.2s all ease-in;
}
main #start-btn:hover {
  background: #b3b1b1;
  border-radius: 20px;
}
main h1 {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.8);
  font-family: "Gugi", cursive;
}
main .icons-container {
  font-size: 2.5rem;
  margin-top: 20px;
}
main .icons-container a {
  color: lightgray;
  margin: 0 10px;
  transition: 0.2s all ease-in;
}
main .icons-container a:hover {
  color: #b3b1b1;
  font-size: 2.3rem;
}

/* LOADING CONTAINER */
.loading-container {
  width: 100%;
  height: 100vh;
  background: lightgray;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
}
.loading-container i {
  font-size: 4rem;
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* ERROR LOADING CONTAINER */
.error-loading-container {
  display: none;
  width: 100%;
  height: 100vh;
  background: lightgray;
  color: rgba(119, 25, 25, 0.8);
  position: absolute;
  z-index: 15;
}
.error-loading-container div {
  text-align: center;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.error-loading-container div p {
  margin-bottom: 20px;
}
.error-loading-container div a {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 5px 8px;
  transition: 0.2s all ease-in;
}
.error-loading-container div a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: lightgray;
}

/* GAME CONTAINER */
.game-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* PLAYER GAME INFO */
}
.game-container .sol-info {
  padding: 20px 0 0 20px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-container .sol-info p {
  font-weight: 600;
  color: lightgray;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
}
.game-container #hands {
  pointer-events: none;
  position: absolute;
  bottom: -100px;
  width: 40%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}
.game-container .object-spawner-container {
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.game-container .player-game-info {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-container .player-game-info div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 0;
}
.game-container .player-game-info div label {
  margin: 0 5px;
}
.game-container .player-game-info div label img {
  height: 16px;
  width: auto;
}
.game-container .player-game-info div #healthIcon img {
  height: 12px;
}
.game-container .player-game-info div progress {
  min-width: 250px;
  height: 16px;
  border: none;
  border-radius: 5px;
  background: lightgray;
}
.game-container .player-game-info div #foodProgress::-moz-progress-bar,
.game-container .player-game-info div #waterProgress::-webkit-progress-bar {
  background: #bfca27;
  border-radius: 5px;
}
.game-container .player-game-info div #waterProgress::-moz-progress-bar,
.game-container .player-game-info div #waterProgress::-webkit-progress-bar {
  background: #276eca;
  border-radius: 5px;
}
.game-container .player-game-info div #healthProgress::-moz-progress-bar,
.game-container .player-game-info div #healthProgress::-webkit-progress-bar {
  background: #ca2727;
  border-radius: 5px;
}

/* SCORE CONTAINER */
.score-container {
  position: absolute;
  width: 150px;
  height: 100px;
  right: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.score-container p {
  color: lightgray;
  font-weight: 600;
  font-size: 1.5rem;
}

/* GAME OVER CONTAINER */
.game-over-container {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s all ease-in;
  display: none;
}
.game-over-container div {
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.game-over-container div a {
  background: rgba(0, 0, 0, 0.8);
  padding: 7px 12px;
  color: lightgray;
  transition: 0.2s all ease-in;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 1.3rem;
}
.game-over-container div a:hover {
  background: lightgray;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
}

/* ANIMATIONS */
@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes moveHands {
  0% {
    bottom: -100px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -100px;
  }
}
@keyframes deleteElement {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* CUSTOM CLASSES */
.move-hands {
  animation-name: moveHands;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.delete-element {
  animation-name: deleteElement;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* RESPONSIVE MOBILE */
@media screen and (max-width: 700px) {
  /* MAIN STYLES */
  html {
    font-size: 12px;
  }

  .game-over-container div {
    width: 80%;
    text-align: center;
  }

  .game-container #hands {
    height: 200px;
    transform: translateX(-50%) scale(2);
  }
  .game-container .object-spawner-container {
    top: 200px;
  }
}

/*# sourceMappingURL=mains.css.map */
