@use 'config';

/* MAIN STYLES */
main {
	position: relative;
	@include config.center();
	text-align: center;
	width: 50%;
	height: 50%;
	color: white;

	#start-btn {
		color: rgba(0, 0, 0, 0.8);
		background: lightgray;
		padding: 15px 20px;
		border-radius: 5px;
		margin: 20px 0;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 600;
		transition: 0.2s all ease-in;

		&:hover {
			background: #b3b1b1;
			border-radius: 20px;
		}
	}

	h1 {
		-webkit-text-stroke-width: 1.2px;
		-webkit-text-stroke-color: rgba(0, 0, 0, 0.8);
		font-family: "Gugi", cursive;
	}

	.icons-container {
		font-size: 2.5rem;
		margin-top: 20px;

		a {
			color: lightgray;
			margin: 0 10px;
			transition: 0.2s all ease-in;

			&:hover {
				color: #b3b1b1;
				font-size: 2.3rem;
			}
		}
	}
}

/* LOADING CONTAINER */

.loading-container {
	width: 100%;
	height: 100vh;
	background: rgba(211, 211, 211, 1);
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	z-index: 10;

	i {
		font-size: 4rem;
		animation-name: loading;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

/* ERROR LOADING CONTAINER */
.error-loading-container {
	display: none;
	width: 100%;
	height: 100vh;
	background: rgba(211, 211, 211, 1);
	color: rgba(119, 25, 25, 0.8);
	position: absolute;
	z-index: 15;

	div {
		text-align: center;
		width: 50%;
		height: 50%;
		position: absolute;
		@include config.center();
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;

		p {
			margin-bottom: 20px;
		}

		a {
			color: rgba(0, 0, 0, 0.8);
			border: 1px solid rgba(0, 0, 0, 0.8);
			border-radius: 5px;
			padding: 5px 8px;
			transition: 0.2s all ease-in;

			&:hover {
				background: rgba(0, 0, 0, 0.8);
				color: lightgray;
			}
		}
	}
}

/* GAME CONTAINER */
.game-container {
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	@include config.center();

	.sol-info {
		padding: 20px 0 0 20px;
		pointer-events: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		p {
			font-weight: 600;
			color: lightgray;
			font-size: 1.4rem;
			margin: 0 0 10px 0;
		}
	}

	#hands {
		pointer-events: none;
		position: absolute;
		bottom: -100px;
		width: 40%;
		height: auto;
		left: 50%;
		transform: translateX(-50%);
	}

	.object-spawner-container {
		width: 100%;
		height: 50vh;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}
}

/* ANIMATIONS */
@keyframes loading {
	from {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes moveHands {
	0% {
		bottom: -100px;
	}

	50% {
		bottom: 0;
	}

	100% {
		bottom: -100px;
	}
}

/* CUSTOM CLASSES */
.move-hands {
	animation-name: moveHands;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
