/* GENERAL STYLES */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-y: hidden;
}

html {
	font-size: 14px;
}

body {
	width: 100%;
	height: 100vh;
	font-family: "Tomorrow", sans-serif;
	transition: 1s all ease-in;
	background: white;
	position: relative;
	overflow: hidden;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 4.2rem;
}

/* MIXINS */
@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
